<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/icon.jpeg">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{description}}</p>
    <img class="portrait" src="/img/tmtio-by-cole.png" alt="TMTIO by Cole" />
  </div>
  {{>footer}}
</body>

</html>
